.App {
  text-align: center;
  min-height: 100vh;
  height: auto;
  background-image:url('https://img.freepik.com/free-vector/low-poly-white-background-design_1017-33204.jpg?w=1060&t=st=1659449828~exp=1659450428~hmac=6af871dc7b5d08aeccdd54f02611b399762e3e51017e297083aa5390ef787d6a');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 690px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
